name: typos

permissions:
  contents: read

on:
  push:
    branches: [master]
    tags:
      - 'v*.*.*' # Run when a new version is being published
  pull_request:
    branches: [master]
    types: [opened, synchronize]

env:
  CLICOLOR: 1

jobs:

  typos:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Find typos in the repository
        uses: crate-ci/typos@v1.43.1
